@import '../variables';
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    img{
        width: auto;
        height: 80%;  
    }
}
